@import "./variables";

body {
    margin: 0% 10% 0 10%;

    box-sizing: border-box;
    position: relative;
    scroll-behavior: smooth;
    background-color: #1f1f1f;
    justify-items: center;
}